@import "../../utils/global.scss";

.featuredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;

  .title {
    color: $gray;
  }

  .featuredWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    flex-wrap: wrap;
    padding-top: 2rem;
  }
}
